<%= turbo_stream.remove dom_id(@player) %>

<% if @tournament.players.reload.empty? %>
  <%= turbo_stream.update "players" do %>
    <p id="no_players" class="text-gray-500 text-center py-8">No players added yet. Add your first player below.</p>
  <% end %>
<% end %>

<%= turbo_stream.update "players_count" do %>
  <%= @tournament.players.count %>
<% end %>